<div class="info-form-ctr">
    <h2>Vehicle Information Form</h2>
    <form [formGroup]="infoForm" (submit)="handleSubmit()" class="info-form">
        <mat-form-field class="licenseNo" appearance="outline">
            <mat-label>Vehicle License Number</mat-label>
            <input matInput formControlName="licenseNo" />
        </mat-form-field>

        <mat-form-field class="type" appearance="outline">
            <mat-label>Vehicle Type</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{ type.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="ownerName" appearance="outline">
            <mat-label>Vehicle Owner Name</mat-label>
            <input matInput formControlName="ownerName" />
        </mat-form-field>

        <mat-form-field class="ownerPhone" appearance="outline">
            <mat-label>Vehicle Owner Phone</mat-label>
            <input matInput formControlName="ownerPhone" />
        </mat-form-field>

        <mat-form-field class="status" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let stat of status" [value]="stat.value">
                    {{ stat.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="ownerAddress" appearance="outline">
            <mat-label>Vehicle Owner Address</mat-label>
            <input matInput formControlName="ownerAddress" />
        </mat-form-field>

        <mat-form-field class="entryTime" appearance="outline">
            <mat-label>Entry at</mat-label>
            <input matInput formControlName="entryTime" [matDatepicker]="entryPicker" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="$any(entryPicker)">
            </mat-datepicker-toggle>
            <mat-datepicker #entryPicker> </mat-datepicker>
        </mat-form-field>

        <mat-form-field class="exitTime" appearance="outline">
            <mat-label>Exit at</mat-label>
            <input matInput formControlName="exitTime" [matDatepicker]="exitPicker" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="$any(exitPicker)">
            </mat-datepicker-toggle>
            <mat-datepicker #exitPicker> </mat-datepicker>
        </mat-form-field>

        <mat-form-field class="parkingCharge" appearance="outline">
            <mat-label>Parking Charge</mat-label>
            <input matInput formControlName="parkingCharge" />
        </mat-form-field>

        <button mat-button color="primary">Submit</button>
    </form>
</div>