<div class="vehicle-list-ctr">
    <h2>Vehicle List</h2>
    <button mat-button color="accent" (click)="getVehicles()">Get Vehicles</button>
    <div class="vehicle-card" *ngFor="let vehicle of vehicles">
        <p><span>Owner Id:</span> {{ vehicle.id }}</p>
        <p><span>Owner Name:</span> {{ vehicle.ownerName }}</p>
        <p><span>Vehicle Type:</span> {{ vehicle.type }}</p>
        <p><span>License Number:</span> {{ vehicle.licenseNo }}</p>
        <p><span>Entry:</span> {{ vehicle.entryTime }}</p>
        <p>
            <span>Exit:</span>
            {{ vehicle.exitTime ? vehicle.exitTime : 'Still parked' }}
        </p>
        <p><span>Status:</span> {{ vehicle.status }}</p>
        <!-- <button mat-flat-button color="primary" (click)="updateVehicle(vehicle.id)">
            Edit
        </button> -->
        <a mat-flat-button color="primary" routerLink="/detail/{{vehicle.id}}">Edit</a>
    </div>
</div>