<h2>Dashboard</h2>
<form [formGroup]="filterForm" class="info-form">
  <mat-form-field appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateFilter" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>

<p>Total cars Parked: {{ filteredVehicles.length }}</p>
<p>Total empty Slot: {{ PARKING_SPOTS - vehiclesParked() }}</p>
<p>Total cars parked: {{ vehiclesParkedByType('car') }}</p>
<p>Total trucks parked: {{ vehiclesParkedByType('truck') }}</p>
<p>Total microbuses parked: {{ vehiclesParkedByType('microbus') }}</p>

<app-vehicle-pie-chart [vehicles]="vehicles"></app-vehicle-pie-chart>
